! Scrollbar
URxvt*scrollBar: false

! Font Choice
URxvt*font: xft:Source Code Pro:size=16

! Font Size
!URxvt.font: 15

! Font Spacing
!URxvt*letterSpacce: -1

! Transparency
URxvt*depth: 32
URxvt*transparent: true
URxvt*shading: 30

! "Clean" Color Scheme

! Background & Text
URxvt*background:       #262729
URxvt*foreground:       #f8f8f2

! Black
URxvt*color0:           #262729
URxvt*color8:           #262729

! Red
URxvt*color1:           #f92671
URxvt*color9:           #ff669d

! Green
URxvt*color2:           #a6e22e
URxvt*color10:          #beed5f

! Yellow
URxvt*color3:           #fd971f
URxvt*color11:          #e6db74

! Blue
URxvt*color4:           #1692d0
URxvt*color12:          #66d9ef

! Magenta
URxvt*color5:           #9e6ffe
URxvt*color13:          #df92f6

! Cyan
URxvt*color6:           #5e7175
URxvt*color14:          #a3babf

! White
URxvt*color7:           #ffffff
URxvt*color15:          #ffffff

! Cursor
URxvt*cursorColor:      #b5d2dd


! Font Size Bindings
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common:  ...,font-size,...
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

