set number
"set relativenumber
set incsearch
set ignorecase
set smartcase
set tabstop=4
set shiftwidth=4
set expandtab
set ai
set hlsearch
set wildmenu
set showcmd
set ruler
"set mouse=a

syntax on

no h i
no i k
no j h
no k j
no l l

